:root{
 --red:rgb(223, 73, 73);
 --green:rgb(43, 69, 6);
  --dark1: #000000;
   --gray: rgb(72, 68, 68);
   --white: rgb(255, 255, 255);
   --lightwhite: rgb(216, 215, 215);
   --pinkish: rgb(211, 70, 173);
}

/* Works on Firefox */
* {
 scrollbar-width: 18px;
 /*thin;*/
 scrollbar-color: skyblue #000066;
}

*::-webkit-scrollbar {
 width: 10px;
}

*::-webkit-scrollbar-track {
 background: var(--gray);
 /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
 background-color: var(--pinkish);
 /* color of the scroll thumb */
 border-radius: 1px;
 /* roundness of the scroll thumb */
 /* border: 1px solid #000066;  */
 /* creates padding around scroll thumb */
}



.containerkeep{
 /* position: relative; */
 background-color: black;
 width: 100%;
 height: calc(100vh - 80px);
 /* min-height: calc(100vh); */
 display: flex;
 flex-direction: row; 
}

.emptycontainer{
 width: 100vw;
 display: flex;
 flex-direction: column;

padding-top: 30px;

 justify-content: center;
 align-items: center;
}

.emptycontainer i{
 font-size: 200px;
 color: rgba(211, 70, 173, 0.383);
}

.emptycontainer p{
 color: rgba(255, 255, 255, 0.611);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 700;
 font-size: 30px;
}

.animestack{
 width: 40%;
 color: white;
 height: calc(100vh - 80px);
 overflow-y: scroll;

}

.fullview{
 width: 60%;
 color: white;
 height: calc(100vh - 80px);
 overflow-y: scroll;
 padding: 13px;
}

.errorExist,.addNoti{
 transform: translateX(50vw);
 z-index: 1000;
 letter-spacing: 1.5px;
 display: flex;
 justify-content: center;
 align-items: center;
 position:absolute;
 background-color:var(--red);
height: 40px;
 width: 200px;
 border-radius: 10px;
 font-size: large;
 font-family: 'Roboto ',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addNoti{
  background-color: var(--green);
}

.wrapperiframe {
 overflow-x: clip;
 max-width: 100%;
 height: 300px;
}

.video {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 25px;
 width: 300%;
 left: -55%;
 margin-bottom: -100px;
}

.video iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 70%;
 height: 70%;
}

button.closeBtn{
transform: translate(95vw, -9px);
cursor: pointer;
}

.watch{
 color: var(--pinkish);
 display: flex;
 justify-content: center;
 width: 60%;
 align-items: center;
}

.watch>p{
 height: 200px;
 width: 200px;
 color: var(--pinkish);
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 100px;
}

@media only screen and (max-width:450px) {
 .errorExist{
  transform: translateX(18vw);
 }

  .addNoti {
  transform: translateX(18vw);
  }

 .containerkeep{
  position: relative;
  display: block;
 }
.animestack{
 width: 100vw;
 padding: 10px;
}
.fullview{
position: absolute;
padding:25px;
background-color: var(--dark1);
top: 0px;
width: 100vw;
height: 100%;
overflow-y: scroll;
display: flex;
flex-direction: column;
justify-content:flex-start;
 display: none;
  transform: translateX(100%);
  transition: transform ease-in-out 1s;
}

.view {
 display: flex;
 transform: translateX(0);
}

 button.closeBtn {
 position: absolute;
 transform: translate(20vw, -100px);
 top: 85px;
 right: 11em;
 z-index: 100;
}

.wrapperiframe{
     overflow-x: clip;
      max-width: 100%;
}

.video{
    position: relative;
     padding-bottom: 56.25%;
     padding-top: 25px;
     width: 300%;
     left: -100%;
     margin-bottom: 0;
}

.video iframe{
position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
} 

.watch{
 display: none;
}


}